<!DOCTYPE html>
<html>
  <head>
    <title>Calendario deportivo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="titulo-cal">Crea tu calendario deportivo</h1>

      <div class="card">
        <h3>Upload Files</h3>
        <div class="drop_box">
          <header>
            <h4>Select File here</h4>
          </header>
          <p>Files Supported: .txt</p>
          <form
            class="subir-form"
            method="POST"
            action="/upload-file"
            enctype="multipart/form-data"
          >
            <input class="btn" type="file" name="file" />
            <button class="btn" type="submit">Upload file</button>
          </form>
        </div>
      </div>

      <div class="crear-man">
        <h4>Crear manualmente</h4>
        <form method="GET" action="/manual-input">
          <button class="btn" type="submit">Manual Input</button>
        </form>
      </div>
    </div>
  </body>
</html>
