body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table {
  animation: cambio-tamano 3s infinite alternate; /* Aplicar animación */
}

@keyframes cambio-tamano {
  0% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

th {
  text-transform: uppercase;
}

td {
  text-align: center;
}

.styled-table thead tr {
  background-color: rgb(0, 60, 240);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(0, 60, 240);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(0, 60, 240);
}
