body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-insa {
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem;
    animation: cambio-tamano 3s infinite alternate;
}

@keyframes cambio-tamano {
    0% {
      transform: scale(1.08);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.08);
    }
  }
  

.tit-insa {
    animation: cambio-color 3s infinite alternate;
}

@keyframes cambio-color {
    0% {
      color:black;
    }
    25% {
        color: rgb(255, 71, 71);
    }
    50% {
        color: rgb(255, 21, 21);
    }
    75% {
        color: rgb(255, 71, 71);
    }
    100% {
      color:black;
    }
  }